<h1>Usuarios</h1>
<!-- TODO AGREGAR LAS BUSQUEDAS DE USUARIOS EN EL BACK -->

<app-search [context]="'users'">
    <button mat-raised-button color="primary" class="button" (click)="openDialog()">Agregar nuevo usuario</button>
</app-search>


<app-table [dataToDisplay]="users" [displayedColumns]="columns" [errorMsg]="errorMsg" *ngIf="!isSearching; else searchTable">
</app-table>

<ng-template #searchTable>
    <app-table [dataToDisplay]="usersFromSearch" [displayedColumns]="columns" [errorMsg]="errorMsg">
    </app-table>
</ng-template>
<!-- <app-table></app-table> -->
<app-paginator [pageSize]="limitAndOffsetAndSize.limit" [count]="userCount">
</app-paginator>