<mat-card-title>{{data.title}}</mat-card-title>
<mat-card-content>
    <form autocomplete="off" (ngSubmit)="createItem()" [formGroup]="newArticleForm" #formDirective="ngForm">
        <!-- Campo descripcion -->
        <mat-form-field appearance="fill" class="mt">
            <mat-label>Descripción</mat-label>
            <input matInput type="text" placeholder="Descripción del producto" formControlName="description">
            <mat-error *ngIf="requiredInputInvalidator('description')">
                La descripción es <strong>obligatoria</strong>
            </mat-error>
            <mat-error *ngIf="minLengthInputInvalidator('description')">
                La descripción debe ser de más de <strong>3</strong> caracteres
            </mat-error>
        </mat-form-field>

        <!-- Campo de Stock -->
        <mat-form-field appearance="fill" class="mt">
            <mat-label>Existencias</mat-label>
            <input matInput type="number" placeholder="Existencias del producto" autocomplete="off" formControlName="stock" min="0">
            <mat-error *ngIf="minCuantityInputInvalidator('stock')">
                Las existencias deben ser mayores o iguales a 0
            </mat-error>
            <mat-error *ngIf="requiredInputInvalidator('stock')">
                Las existencias son <strong>obligatorias</strong>
            </mat-error>
        </mat-form-field>

        <!-- Campo de Medidas -->
        <mat-form-field appearance="fill" class="mt">
            <mat-label>Medidas</mat-label>
            <mat-select formControlName="size" [errorStateMatcher]="matcher">
                <mat-option>Seleccionar</mat-option>
                <mat-option value="Pieza">
                    Pieza
                </mat-option>
                <mat-option value="Caja">
                    Caja
                </mat-option>
                <mat-option value="Paquete">
                    Paquete
                </mat-option>
                <mat-option value="Juego">
                    Juego
                </mat-option>
                <mat-option value="Metros">
                    Metros
                </mat-option>
            </mat-select>
            <mat-error *ngIf="requiredInputInvalidator('size')">
                Las medidas son <strong>obligatorias</strong>
            </mat-error>
        </mat-form-field>

        <mat-card-actions class="flex">
            <button mat-raised-button color="primary" type="submit">
                <mat-icon>save_alt</mat-icon>
                Guardar
            </button>
            <button mat-raised-button (click)="closeDialog()" type="button">Cerrar</button>
        </mat-card-actions>
    </form>
</mat-card-content>
